.content{
    align-items: left;
}
.cuestionarioForm{
    display: block;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.cuestionarioForm::-webkit-scrollbar{
    width: 1000px;
    height: 500px;
}
